{%load static%}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%static 'css/fonts.css'%}">
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    </head>


    <body>
    {%block body%}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="{%url 'home'%}"><img src="{%static 'img/icon.png'%}" alt="logo" width="50" height="50"></a>
                <a class="navbar-brand" href="{%url 'home'%}">Django Polls</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown">
                    {%if user.is_authenticated%}
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{%url 'update_account'%}">My Account</a></li>
                        <li><a class="dropdown-item" href="{%url 'change_password'%}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
                    </ul>
                </div>
            </div>            
            {%else%}
            <form class="form-inline ml-auto">
                <a href="{%url 'login'%}" class="btn btn-outline-secondary">login</a>
                <a href="{%url 'signup'%}" class="btn btn-primary ml-2">Signup</a>
            </form>
            {%endif%}
        </div>
    </div>
</nav>
{%endblock%}
{%block content%}
{%endblock%}
    <script src="{%static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script>
            $(document).ready(function() {
                // messages timeout for 10 sec 
                setTimeout(function() {
                    $('.message').fadeOut('slow');
                }, 4000); // <-- time in milliseconds, 1000 =  1 sec
            });
        </script>
    </body>
</html>