{%extends 'base.html'%}

{%block title%}Edit{%endblock%}

{%block content%}
    <div class="container">
        
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
        {%csrf_token%}
            {{poll_form.as_p}}
            {{polloptions_form.option1}}
            {{polloptions_form.option2}}
            {{polloptions_form.option3}}
            <div class="form-control-file">{{polloptions_form.option1photo}}</div>
            <div class="form-control-file">{{polloptions_form.option2photo}}</div>
            <div class="form-control-file">{{polloptions_form.option3photo}}</div>
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>
    </div>

{%endblock%}